@page "/aaaccc"
@using System.IO
@using blazorservercrudefsqlite.Reposit
@using blazorservercrudefsqlite.Utils

<div style="display: flex; flex-derection:row">
    <div style="flex: 1">
        <h2>フォルダ名：@di.RootDir</h2>

        @foreach (var item in di.SubDirs)
        {
            <li><span style="font-size: x-large;">サブフォルダー：@item.getFolderName()</span></li>
                <ul>
                    @foreach (DirInfo d in @item.SubDirs)
                    {
                        <li>@d.getFoldername()</li>
                            <ul>
                                @foreach (string s in d.getFileNameList())
                                {
                                   <li>@s</li> 
                                }
                            </ul>
                    }
                </ul>
        }
    </div>
    <div style="margin: 0 irem; width: 1px; background-color:#000"></div>
    <MessageSet></MessageSet>

</div>

@code{

    static DirectoryInfo dirWk = new DirectoryInfo(EnvCommon.path2mailFolder());
    static DirInfo di = NestedFileList.Get(EnvCommon.path2mailFolder());

    List<string> collection = LocalPaths.GetRecList();
    
    private void loadFileList(){
        di = NestedFileList.Get(EnvCommon.path2mailFolder());
    }

}