@using System.IO
@using blazorservercrudefsqlite.Reposit
@using blazorservercrudefsqlite.Shared

<div style="flex: 1">
    <h5 style="width:300px;margin:0 auto;text-align:center">タイトル・送信文の内容</h5><br>
    <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
        タイトル: @title_all<br><br>
        タイトルに追加：<input id="title" @oninput="@(e => titleChanged(e.Value.ToString()))" value="@title_about" placeholder="@title_placeholder"/>_送信の件<br><br>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div style="display: flex; flex-direction: column;">
            送信文
            <InputTextArea id="name" @bind-Value="exampleModel.Name" style="width: 500px; height: 400px"/>

            <button type="submit">Submit</button>
        </div>
    </EditForm>



    <button class="btn btn-primary" @onclick="HandleValidSubmit">Click me</button>
</div>

@code{
    string title_all = "";
    string title_about = "";
    string title_placeholder = "＊＊様変更";
    private ExampleModel exampleModel = new();
    private void titleChanged(string s){
        title_all = "ｗｗｗｗ_" + s + "_送信の件";
    }

    protected override void OnInitialized()
    {
        exampleModel.Name = getMailText();    
    }
    private void HandleValidSubmit()
    {
        //TopButtons MainLayout.tpButtons1 = "aaaa";
        //Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
    private string getMailText(){
        {
            //string path = EnvCommon.path2mailTextFolder() + "\\mailText.txt";
            string path = EnvCommon.path2mailKoshinTemplate();
            string text = File.ReadAllText(path, System.Text.Encoding.UTF8);
            return text;
        }
    }

}