﻿@inherits LayoutComponentBase
@using System
@using blazorservercrudefsqlite.Pages    
@implements IDisposable

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-6">
        <span style="font-size: x-large; vertical-align: center">@date</span>
        <span style="margin: 10px 10px;"></span>
        <span style="font-size: small; vertical-align: center;">@time</span>
        <TopButtons @ref="tpButtons1"/>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    System.Threading.Timer timer;
    private string date;
    private string time;

    public TopButtons tpButtons1;

   protected override void OnInitialized(){
       base.OnInitialized();
       timer = new System.Threading.Timer( (_) =>{
            string[] wk = DateTime.Now.ToString().Split(" ")[0..2]; 
            date = wk[0]; time = wk[1];
            InvokeAsync(StateHasChanged);
       }, null, 0, 1000);
   }

    public void Dispose(){
        timer?.Dispose();
    }
}