<template>
  <h1>{{ msg }}</h1>
  <button @click="count++">count is: {{ count }}</button>
  <p>Edit <code>components/HelloWorld.vue</code> to test hot module replacement.</p>
  <div>
    <h2>Filter LearnVue Articles</h2>
    <input
      type='text'
      placeholder="Filter Search"
      v-model.lazy='query'
    />
    {{query}}
  </div>
  <button @click="reset"> reset </button>
  <revo-01/>
  <search-results v-if="query != ''" :query='query'/>
</template>

<script>
import { ref } from 'vue'
import SearchResults from './SearchResults.vue'
import Revo01 from './revo01.vue'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  components: {
    SearchResults,
    Revo01
  },
  data () {
    return {
      count: 0,
      aaa: "bbb"
    }
  },
  setup () {
    const query = ref('')
    const reset = (evt) => {
      console.log(evt)
      query.value = ''
      //query = ''
    }
    return {
      reset,
      query
    }
  }
}
</script>
