<template>
    <v-grid style="height: 200px"
        theme="compact"
        :source="rows"
        :columns="columns"
    ></v-grid>
</template>

<script lang="ts">
    import VGrid from "@revolist/vue3-datagrid"
    export default {
        data (){
            return {
                columns: [{ prop: "name", name:"First"}, { prop: "details", name:"Second"}],
                rows: [{ name: "1", details:"item-1"}]
            }
        },
        components: {
            VGrid,
        }
    }
</script>