<template>
  <div class="about">
    <h1>This is an about page</h1>
    <examplexl/>
  </div>
</template>
<script>
// datastore from '../renderer/datastore'
//var DB = require('nedb')
//var testdb = new DB(datastore)
import examplexl from '../components/examplexl.vue'
export default {
  components: {
    examplexl
  }


}
</script>
