<template>
  <div id="app">
    <label>Files
      <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()" />
    </label>
    <div v-for="(file, key) in files" class="file-listing" :key="key">
      <span class="remove-file" v-on:click="removeFile( key )">
      {{ file.name }} :Remove</span>
    </div>
    <button v-on:click="addFiles()">Add Files</button>
  </div>
</template>

<script>
  import XLSX from 'xlsx';

  export default {
    data() {
      return {
        files: []
      }
    },
    methods: {
      addFiles() {
        this.$refs.files.click();
      },

      handleFilesUpload() {
        let uploadedFiles = this.$refs.files.files;

        for (var i = 0; i < uploadedFiles.length; i++) {
          this.files.push(uploadedFiles[i]);
        }

        var f = uploadedFiles[0];
        console.log(f)
        var reader = new FileReader();
        reader.onload = function (e) {
          var data = e.target.result;
          data = new Uint8Array(data);
          var workbook = XLSX.read(data, {
            type: "array"
          });

          /* DO SOMETHING WITH workbook HERE */
          var first_sheet_name = workbook.SheetNames[0];
          /* Get worksheet */
          var worksheet = workbook.Sheets[first_sheet_name];
          //It will prints with header and contents ex) Name, Home...
          var json = XLSX.utils.sheet_to_json(worksheet, {
            header: 1
          });
          console.log(json);
        }
        reader.readAsArrayBuffer(f);
      },
      removeFile(key) {
        this.files.splice(key, 1);
      }
    }
  }

</script>