﻿@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome button demo</h1>
    <form action="" method="post">
        wawawa
        <button>lelele</button>
        <imput type="submit" value="affsdfad">
    </form>
    <!-- p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p-->
    <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="file://\\\sv\SV01\大地ＡＢＣ（１Ｆ）\平成31年度\ジェネックス\R01090西久留女木地区" TARGET="_blank">フォルダーオープン</asp:HyperLink>

    <component type="typeof(RazorPages.Components.Counter)" param-InitialValue="0" render-mode="Server" />

</div>
