<template>
    <div>
        <vue-tabulator v-model="data" :options="options" />
    </div>
</template>

<script lang="ts">
import {TabulatorComponent} from 'vue-tabulator'
import * as myfunc from '@/assets/drawProgress'
export default {
    components: {
        VueTabulator: TabulatorComponent
    },
    data (this) {
        return {
            data: [{
                name: 'Teste',
                age: 150,
                custom: "haha="
            }],
            options: {
                columns: [{
                    title: 'Name',
                    field: 'name',
                    sorter: 'string',
                    width: 200,
                    editor: true,
                },
                {
                    title: 'age',
                    field: 'age',
                    width: 200, 
                    formatter:'progress',
                    formatterParams:{
                        min:0,
                        max:200,
                        legend: true,
                        color: ["green", "orange", "red"]
                    },
                    //editor: true,
                },
                {
                    title: 'custom',
                    field: 'custom',
                    width: 300,
                    parm: {},
                    formatter: function(cell: any, parm, onRendered): string{
                        return myfunc.myGrid()
                    }
                    
                } ],
            }
        }
    },
    methods:{
    }

}
</script>

<style>
#container {
    display: grid;
}
.aa {
    border: thin groove;
}
</style>