<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <div class="grid-sample" >
      <Cgrid :records="records"/>
    </div>
    <hot-table></hot-table>

  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Cgrid from './components/cheetah.vue'
import {HotTable} from '@handsontable/vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Cgrid,
    HotTable
  },
  data() {
    return {
      records: [
        {check: false, personid: 11, fname: "aaa", lname: "bbb", },
        {check: false, personid: 22, fname: "ccc", lname: "ddd", }
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.grid-sample{
  width: 100%;
  margin: auto;
}
</style>
