<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h3>Installed CLI Plugins</h3>
    <b-container >
      <b-row>
          <b-col class="aaa">1 of 3</b-col>
          <b-col>2 of 3</b-col>
          <b-col>3 of 3</b-col>
      </b-row>
    </b-container>
  </div>
  
</template>

<script>
export default {
  //name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>
<style scoped>
  .aaa{
    border: 4px solid black;
  }
  .aaa:hover{
    color: rebeccapurple;
    border: 4px solid red;
  }
</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
