<template>
  <div>
    <b-table striped hover :items="cats">
      <template #cell(age)="data">
        <!--router-link :to="/pet/`#${data.item.name}`">{{data.item.name}}</router-link-->
        <router-link to="/pet/#akakak">{{data.index}}</router-link>
      </template>
    </b-table>
  </div>
</template>

<script>
  //import cats from '@/data/cats'
  //console.log(this.$store.cats)
  export default {
      data() {
        return {
            cats: this.$store.state.cats
        }
      }
  }
</script>
