<template>
    <div class="main">
        Dogs
        <b-container class="gc">
            <b-col class="gs">1 of 2</b-col>
            <b-col class="gs">1 of 2</b-col>
            <b-col class="gs">1 of 2</b-col>
            <div class="w-100"/>
            <b-col class="gs">1 of 2</b-col>
            <div class="w-100"/>
            <b-col class="gs">1 of 2</b-col>
            <b-col class="gs">1 of 2</b-col>
            <div class="gs">1 of 2</div>
            <div class="gs">2 of 2</div>
            <div class="gs">1 of 3</div>
            <div class="gs">2 of 3</div>
            <div class="gs">3 of 3</div>
        </b-container>
    </div>

</template>

<style scoped>
    .main {
        width: 2000px;
    }
    .gc {
        display: flex; 
       flex-wrap: wrap;
    }

    .gs {
        border: solid;
        width: 600px;
    }
</style>