<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
    <vue-tb/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import VueTb from '@/components/tabulator.vue'

export default Vue.extend({
  name: 'Home',
  components: {
    HelloWorld,
    VueTb,
},
});
</script>
