<template>
    <div class="body">
        <h1>柳生川南部＿潰れ地管理</h1>
        <main>
            <div v-for=" item in cats" :key="item.age">
                <div class="cell">
                    <div class="data">
                        <div class="detail">{{item.first_name}}</div>         
                        <div class="detail" v-html="prog2(item.age)"/>
                        <div class="detail">{{age2(item.age)}}</div>         
                    </div>
                </div>
            </div>
        </main>
        <nav>ナビ</nav>
        <footer>フッター</footer>
    </div>
</template>
<script>
import * as myfunc from '@/assets/drawProgress'
export default {
    data () {
        return {
            progress: "<span>bb-bb-bb</span>",
            cats: this.$store.state.cats
        }
    },
    methods: {
        age2(age){
            return age + 100
        },
        prog2(age){
            return myfunc.myFoo(age)
        }
    }

}
</script>


<style scoped>
.detail {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    width: 300px;
}
.data {
    display: grid;
    border: thin;
}
.cell {
    margin: 3px;
    border: solid;
}
.cell:hover{
    color:#faa;
}
.body {
    display: grid;
    margin: 10%;
    margin-top: 0%;
    /*
    margin-left: 10%;
    margin-right: 10%;
    */
    margin-bottom: 10%;
    height: 90vh;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 100px 1fr;
}
.body > * {
    margin: 3px;
    padding: 10px;
}
h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    background: rgb(27, 157, 218);
    border-radius: 10px 10px 0 0;
    align-self: center;
    color: white;
}
main {
    overflow-x: scroll;
    grid-row: 2;
    grid-column: 2;
    background: #afa;
    display: flex;
    flex-wrap: wrap;
}
nav {
    grid-row: 2;
    grid-column: 1;
    background: #aaf;
}
footer {
    grid-row: 3;
    grid-column: 1 / span 2;
    background: #aaa;
    border-radius: 0 0 10px 10px;
}

</style>