<template>
  <div class="about">
    <h1>This is an about page</h1>
    <dev>{{msg}}</dev>
  </div>
</template>

<script>
//import exjs from '@/assets/loadXlsx'
export default {
  data() {
    this.$store.dispatch('changeAaa',{str: "www"})
    return {
      msg: this.$store.state.aaa.data,
    }
  },
}
</script>

